h1 {
  color: #fff;
  font-family: Roboto;
  font-size: 58px;
  font-weight: 900;
  line-height: 63px;
  text-transform: uppercase;
}

h2 {
  color: #fff;
  font-size: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 46px;
}

h3 {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}

p {
  color: #e0e0e0;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

span {
  font-family: "Roboto", sans-serif;
  color: #dd2242;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}

.prev-icon,
.next-icon {
  width: 16px;
  height: 19px;
}

.explore {
  background-image: url("/src/img/explore-banner.jpg");
  background-size: 100% 2063px;
  display: grid;
  justify-items: center;
}
.explore__title {
  color: #010a20;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .explore {
    background-image: url("/src/img/explore-banner@x2.jpg");
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 2.9791666666666665), (min-resolution: 286dpi), (-webkit-min-device-pixel-ratio: 3), (min-resolution: 3dppx) {
  .explore {
    background-image: url("/src/img/explore-banner@x3.jpg");
  }
}
.carousel-explore-section {
  padding-top: 45px;
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 23px;
}

.carousel {
  display: flex;
  align-items: center;
}
.carousel-inner {
  overflow: visible;
}
.carousel-image {
  width: 314px;
  height: 200px;
}
.carousel-control-next, .carousel-control-prev {
  width: 16px;
  height: 19px;
  border-radius: 50%;
  opacity: 1;
  position: inherit;
  margin: 0px 9px;
}
.carousel-indicators {
  top: 100%;
  background-color: bisque;
}
.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 19px;
  height: 19px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #85a3b2;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-radius: 50%;
  opacity: 1;
  transition: 0.5s;
}
.carousel-indicators .active {
  background-color: #dd2242;
  width: 50px;
  border-radius: 16px;
  transition: 0.5;
}

.numbers {
  width: 100%;
  margin-top: 620px;
  padding: 72px 0 69px;
  opacity: 0.9;
  background: #020c21;
}
.numbers__cont {
  padding: 0 30px 32px;
}
.numbers__heading {
  text-align: center;
  width: 314px;
}
.numbers__card {
  width: 314px;
  margin-top: 80px;
  text-align: center;
  display: grid;
  justify-items: center;
}

.footer {
  background: #010a20;
  display: grid;
}

.cont {
  display: grid;
  position: relative;
}

.scroll-button {
  position: absolute;
  justify-self: center;
  top: -41px;
}
.scroll-button__item {
  width: 104px;
  height: 104px;
}

.footer-nav__list {
  display: grid;
  justify-items: center;
  gap: 36px;
  color: #6f7787;
  padding: 96px 0 84px;
}

.site-logo {
  width: 51px;
  height: 51px;
  margin-right: 10px;
}
.site-logo-cont {
  display: flex;
  align-items: center;
  color: #6f7787;
}
.site-logo__wrapper {
  display: flex;
  flex-direction: column;
}

.social {
  width: 186px;
  display: flex;
  justify-content: space-between;
}
.social__logo {
  width: 30px;
  height: 30px;
}