.footer {
  background: #010a20;
  display: grid;
  padding: 146px 0 84px;
  position: relative;
}
.scroll-button {
  position: absolute;
  justify-self: center;
  bottom: 115%;
  &__item {
    width: 104px;
    height: 104px;
  }
}

.footer-nav {
  display: grid;
  justify-items: center;
  &__list {
    display: grid;
    justify-items: center;
    gap: 36px;
    color: $text-color;
    // padding: 96px 0 36px;
  }
}
.site-logo {
  width: 51px;
  height: 51px;
  margin-right: 10px;
  &-cont {
    display: flex;
    align-items: center;
    color: $text-color;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}
.social {
  width: 186px;
  display: flex;
  margin: 36px 0;
  justify-content: space-between;
  &__logo {
    width: 30px;
    height: 30px;
  }
}
@media (min-width: 1170px) {
  .footer {
    padding: 39px 100px 46px;
  }
  .footer-nav {
    display: flex;
    justify-content: space-between;
    &__list {
      display: flex;
      align-items: center;
    }
  }
  .site-logo {
    &-cont {
      display: flex;
      align-items: center;
      color: $text-color;
      margin-right: 88px;
    }


    &__title,
    &__text {
      font-size: 23.961px;

      line-height: 90.5%;
      letter-spacing: 0.315px;
    }
  }
  .social {
    margin: 0 50px;
  }
  .scroll-button {
    right: 99px;
    bottom: 84px;
  }
}
