.cont {
  display: grid;
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
}
h1 {
  color: #fff;
  font-family: Roboto;
  font-size: 58px;
  font-weight: 900;
  line-height: 63px;
  text-transform: uppercase;
}
h2 {
  color: #fff;
  font-size: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  line-height: 46px;
}
h3 {
  color: #fff;

  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 150%;
}
p {
  color: #e0e0e0;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}
span {
  font-family: "Roboto", sans-serif;
  color: #dd2242;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
}

.desktop-section {
  display: none;
}
@media (min-width: 1170px) {
  h3 {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.5px;
  }

  .mobile-section {
    display: none !important;
  }
}
